<!--==========================
   Sección de encabezado
   ============================-->
<style>
    #header a {
        font-size: 18px !important;
    }
    #header .badge {
        background: #03C4EB;
        color: #fff;
        padding: 0px 8px 4px 6px;
        font-size: 20px !important;
    }
</style>
<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <a href="#hero"><img src="~/Content/ProOnliPc/img/logo.png" alt="" title="" /></img></a>
            <!-- Descomenta abajo si prefieres usar una imagen de texto -->
            <!--<h1><a href="#hero">Encabezado 1</a></h1>-->
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active">@Html.ActionLink("Tienda", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li>
                    <a href="@Url.Action("Index","Carrito")" class="nav-link">
                        Carrito
                        <i class="fa fa-shopping-cart"></i>
                        <span class="badge">
                            <label id="lblItems">9</label>
                        </span>
                    </a>
                    
                </li>
                <li class="menu-has-children">
                    <a href="">Mantenedores</a>
                    <ul>
                        <li>@Html.ActionLink("Autores", "Index", "Autor")</li>
                        <li>@Html.ActionLink("Editoriales", "Index", "Editorial")</li>
                        <li>@Html.ActionLink("Géneros", "Index", "Genero")</li>
                        <li>@Html.ActionLink("Estados Libros", "Index", "EstadoLibro")</li>
                        <li>@Html.ActionLink("Libros", "Index", "Libro")</li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->