<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="~/favicon.ico" rel="shortcut icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Content/ProOnliPc/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Content/ProOnliPc/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/ProOnliPc/lib/animate-css/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/ProOnliPc/css/style.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div id="preloader"></div>

    @Html.Partial("_HeroSection")
    @Html.Partial("_HeaderNavBar")

    <div class="body-content">
        @RenderBody()
    </div>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        &copy; Copyright <strong>Draxler Einherjar</strong>. All Rights Reserved
                    </div>
                    <div class="credits">

                        @*Plantilalas by <a href="https://www.youtube.com/channel/UCDH0DJaVLkCDtl_YN9hhByw?view_as=subscriber">ProOnliPc</a>*@
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Required JavaScript Libraries -->
    <script src="~/Content/ProOnliPc/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/ProOnliPc/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/ProOnliPc/lib/superfish/hoverIntent.js"></script>
    <script src="~/Content/ProOnliPc/lib/superfish/superfish.min.js"></script>
    <script src="~/Content/ProOnliPc/lib/morphext/morphext.min.js"></script>
    <script src="~/Content/ProOnliPc/lib/wow/wow.min.js"></script>
    <script src="~/Content/ProOnliPc/lib/stickyjs/sticky.js"></script>
    <script src="~/Content/ProOnliPc/lib/easing/easing.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="~/Content/ProOnliPc/js/custom.js"></script>

    <script src="~/Content/ProOnliPc/contactform/contactform.js"></script>
</body>
</html>
