@model IEnumerable<BibliotecaVirtual.Models.Libro>

@{
    ViewBag.Title = "Biblioteca Virtual";
}


<!--==========================
  Team Section
  ============================-->
<section id="team">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Tienda</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Encuentra una gran variedad de obras literarias</p>
            </div>
        </div>

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="member">
                        <div class="pic"><img src="@Url.Action("GetImage","Libro",new { id = item.IdLibro})" alt=""></div>
                        <h4> @Html.DisplayFor(modelItem => item.Nombre)</h4>
                        <span>@Html.DisplayFor(modelItem => item.Autor.Nombre)</span>
                        <div class="social">
                            <strong>@String.Format("{0:c}", item.PrecioUnitario)</strong> |
                        
                            <button id="addCart" onclick="AddCart(@item.IdLibro)" style="background: #03C4EB; border: 0; padding: 8px 20px; color: #fff; transition: 0.4s;"><i class="fa fa-cart-plus"></i> Comprar</button>
                            @*<a id="addCart" href="@Url.Action("AgregarAlCarrito","Home",new { id = item.IdLibro }) " class="btn" style="color:black;"><i class="fa fa-cart-plus"></i>Agregar al Carro</a>*@
                        </div>
                    </div>
                </div>
            }

        </div>
        <br />
        <br />
        <br />
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            console.log("ready!");
        });

        function AddCart(e) {
            console.log(e);

            $.ajax({
                data: { "parametro1": "valor1", "parametro2": "valor2" },
                type: "POST",
                dataType: "json",
                url: "script.php",
            })
        }

    </script>
}