@model BibliotecaVirtual.Models.Libro

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_two.cshtml";
}

<style>
    button[type="submit"] {
        background: #03C4EB;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
    }

        button[type="submit"]:hover {
            background: #25d8fc;
        }
</style>

<section id="services">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">@Html.DisplayFor(model => model.Nombre)</h3>
                <div class="section-title-divider"></div>
                <p class="section-description"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 service-item">
                <h4 class="service-title"><a href=""> @Html.DisplayNameFor(model => model.Nombre)</a></h4>
                <p class="service-description">@Html.DisplayFor(model => model.Nombre)</p>
                <h4 class="service-title"><a href=""> @Html.DisplayNameFor(model => model.Autor.Nombre)</a></h4>
                <p class="service-description">@Html.DisplayFor(model => model.Autor.Nombre)</p>
                <h4 class="service-title"><a href=""> @Html.DisplayNameFor(model => model.Editorial.Nombre)</a></h4>
                <p class="service-description">@Html.DisplayFor(model => model.Editorial.Nombre)</p>
                <h4 class="service-title"><a href=""> @Html.DisplayNameFor(model => model.Genero.Nombre)</a></h4>
                <p class="service-description">@Html.DisplayFor(model => model.Genero.Nombre)</p>
            </div>
            <div class="col-md-4 service-item">
                <h4 class="service-title"><a href=""> @Html.DisplayNameFor(model => model.FechaPublicacion)</a></h4>
                <p class="service-description">@Html.DisplayFor(model => model.FechaPublicacion)</p>
                <h4 class="service-title"><a href=""> @Html.DisplayNameFor(model => model.EstadoLibro.Nombre)</a></h4>
                <p class="service-description">@Html.DisplayFor(model => model.EstadoLibro.Nombre)</p>
                <h4 class="service-title"><a href=""> @Html.DisplayNameFor(model => model.Stock)</a></h4>
                <p class="service-description">@Html.DisplayFor(model => model.Stock)</p>
                <h4 class="service-title"><a href=""> @Html.DisplayNameFor(model => model.PrecioUnitario)</a></h4>
                <p class="service-description">@Html.DisplayFor(model => model.PrecioUnitario)</p>
            </div>
            <div class="col-md-4 service-item">
                <h4 class="service-title"><a href="">@Html.DisplayNameFor(model => model.Imagen)</a></h4>
                <p class="service-description"><img src="@Url.Action("GetImage","Libro", new { id = Model.IdLibro})" alt="Alternate Text" /></p>
            </div>

            <div class="col-md-4 service-item">
                @*<h4 class="service-title">*@

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="">
                        <input type="submit" value="Eliminar" style="background: #03C4EB; border: 0; padding: 10px 24px; color: #fff; transition: 0.4s;" /> 
                        @Html.ActionLink("Regresar", "Index",null, new { style = "background: #03C4EB; border: 0; padding: 10px 24px; color: #fff; transition: 0.4s;" })
                    </div>
                }
                @*<a href="@Url.Action("Edit", "Libro", new { id = Model.IdLibro })" class="btn btn-new"><i class="fa fa-pencil"></i><span><strong> Editar</strong></span></a> |

                <a href="@Url.Action("Index", "Libro")" class="btn btn-new"><i class="fa fa-reply"></i><span><strong> Regresar</strong></span></a>*@
                @*</h4>*@
            </div>
        </div>
    </div>
</section>


