@model IEnumerable<BibliotecaVirtual.Models.Libro>

@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout_two.cshtml";
}



<!--==========================
  Team Section
  ============================-->
<section id="team">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Carrito</h3>
                <div class="section-title-divider"></div>
            </div>
        </div>
        @{
                foreach (var item in Model)
                {
                    var cantidad = Model.Where(w => w.IdLibro == item.IdLibro).Count();
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="member">
                            <div @*class="pic"*@><img width="150" sizes="20px" src="@Url.Action("GetImage", "Libro", new { id = item.IdLibro })" alt=""></div>
                            <h4 style="height: 37px;"> @Html.DisplayFor(modelItem => item.Nombre)</h4>
                            <span>@Html.DisplayFor(modelItem => item.Autor.Nombre)</span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="social">
                            <strong>@String.Format("{0:c}", item.PrecioUnitario)</strong> |
                            <button class="new" id="TakeOffCart" onclick="TakeOffCart(@item.IdLibro)"><i class="fa fa-cart-arrow-down"></i> Quitar del Carro</button>
                        </div>
                        <div class="social">
                            <button id="AddCart" onclick="AddCart(@item.IdLibro)"><i class="fa fa-plus"></i></button>

                            <input type="text" class="form-control" name="txtCantidad" value="@cantidad" disabled />
                            <button id="TakeOffCart" onclick="TakeOffCart(@item.IdLibro)"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </div>
            }
        }

        <br />
        <br />
        <br />
    </div>
</section>

@section scripts{
    <script>
        var urlAgregarAlCarro = "@Url.Action("AgregarAlCarrito", "Home")";
        var urlElementosCarrito = "@Url.Action("ElementosCarrito", "Home")";
        $(document).ready(function () {
            ElementosCarrito();
        });

        function AddCart(e) {
            $.ajax({
                data: { "id": e },
                type: "POST",
                dataType: "json",
                url: urlAgregarAlCarro,
            })
                .done(function (data, textStatus, jqXHR) {
                    if (console && console.log) {
                        ElementosCarrito();
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (console && console.log) {
                        console.log("La solicitud a fallado: " + textStatus);
                    }
                });
        }

        function ElementosCarrito() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: urlElementosCarrito,
            })
                .done(function (data, textStatus, jqXHR) {
                    if (console && console.log) {
                        if (data != "nodata") {
                            $('#lblItems').text(data);
                            $('#carritoSpan').show();
                        } else {
                            $('#lblItems').text('0');
                            $('#carritoSpan').hide();
                        }
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (console && console.log) {
                        console.log("La solicitud a fallado: " + textStatus);
                    }
                });
        }

    </script>
}

